<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>MERCHAIN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
  <% if (isLoggedIn) { %>
  <div class="top-user-bar">
  <div class="portrait">
    <img src="<%= user.portrait %>">
  </div>
  <div class="welcome">
    Hello, <%= user.displayName %>!
  </div>

  <div class="wallet-address">
    Your wallet address is: <a href="<%= user.wallet[0].link %>"><span class="green-color"><%= user.wallet[0].address %></span></a>
  </div>
  <div class="wallet-link"><a href="<%= user.wallet[0].link %>">
      <p class="see-more"> See more here</p>
  </div>
  <div class="logout-button"><a href="/user/logout"><p class="logout">Sign out</p></a></div>
   </div>
  <% } else { %>
  <div class="login-button"><a href="/user/auth/facebook"><p class="login">Sign up</p></a></div>
  <% } %>
    <div ng-app="merchainApp">
      <div class="main-div" ng-controller="mainController">
        <div class="logo-div"><img id="merc" ng-model="left" ng-class="left" src="/assets/Merc-02.png">
          <img id="hain" ng-model="right" ng-class="right" src="/assets/Hain-03.png"></div>
          <p ng-model="caption" ng-class="caption" class="caption">Kayak.com for bitcoin remittances.</p>
          <div class="try-it-now-div"><img ng-model="tryitnow" ng-class="tryitnow" class="try-it-now" width="140" ng-click="changeClass()" src="/assets/Try it now.png"></div>
          <form id="form-tag-id" ng-show="showme" class="form-tag animated fadeIn" novalidate>
            <p class="text-form">I want to send
            <span class="green-color">{$</span><input class="input-amount" type="text" data-ng-model="query.inputAmount">}
            <span class="green-color">{</span><select data-ng-options="o.name for o in options" data-ng-model="query.selectedCurrency"></select>}
            to
            <span class="green-color">{</span><select data-ng-options="o.name for o in options" data-ng-model="query.selectedOutputCurrency"></select>}
            <br><br><img class="send-icon" ng-click="onSubmit()" width="110" src="/assets/Get rates.png"></p>
          </form>
      <table ng-show="showtable" class="tftable animated fadeIn" border="1">
      <tr><th>Merchant 1</th><th>Rate</th><th>Merchant 2</th><th>Rate</th><th>Amount</th></tr>
      <tr data-ng-repeat="merchain in merchains"><td><a href="{{merchain.startMerchant.url}}"><img width="50px" src="{{merchain.startMerchant.logo}}"></a></td><td>{{merchain.startMerchant.rate}}</td><td><a href="{{merchain.endMerchant.url}}"><img width="50px" src="{{merchain.endMerchant.logo}}"></a></td><td>{{merchain.endMerchant.rate}}</td><td>{{merchain.convertedAmt}}</td></tr>
      </table>
        <div ng-show="isClicked" ng-model="bottomInstructions" ng-class="bottomInstructions" class="instruction-box">
            <p class="instruction-header">Step-by-step guide</p>
            <p class="instruction-text">
              1. Sign up with an {{startMerchant}} account and purchase BTC with {{inputAmount}} USD<br>
              2. Link your {{startMerchant}} account with your {{inputCurrency}} bank account.<br>
              3. Sign up with a {{endMerchant}} account and sell your BTC for {{outputCurrency}}.<br>
              4. Cash out {{outputCurrency}} to your bank account.<br>
              5. Keep your coins safe with Blockchain, the world's largest Bitcoin wallet platform.<br>
            </p>
           <!-- <img src="/assets/coolbottombanner.png"/>-->
        </div>
      </div>
    </div>

</body>
</html>
